<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <p>SocietalBook</p>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

      <%= link_to 'Home', root_path, class: "navbar-item"%>

      <%= link_to 'Micropost', new_microposts_path, class: "navbar-item"%>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Option 1
          </a>
          <a class="navbar-item">
            Option 2
          </a>
          <a class="navbar-item">
            Option 3
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Need help?
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
        			<%= link_to 'Sign out', destroy_user_session_path, class: "button is-primary", method: :delete %>
          <% else %>
              <strong>
                <%= link_to 'Sign up', new_user_registration_path, class: "button is-primary" %>
              </strong>
              <strong>
                <%= link_to 'Sign in', new_user_session_path, class: "button is-light" %>
              </strong>
        	<% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
