<% @posts.each do |p| %>
<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <%= link_to gravatar_for(current_user, size: 50)%>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= current_user.name %></strong>
        <br>
        <%= p.content %>
      </p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <span class="icon is-small"><%=fa_icon "reply-all"%></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><%=fa_icon "retweet"%></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><%=fa_icon "heart"%></i></span>

        </a>
      </div>
    </nav>

    <% @comments.each do |c| %>
    <% if p.id == c.micropost_id %>
      <div class="media-right">
        <button class="micropost delete"></button>
      </div>
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <%= link_to gravatar_for(current_user, size: 50)%>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><%= current_user.name %></strong>
              <br>
              <%= c.replay %>
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item">
                <span class="icon is-small"><%=fa_icon "reply-all"%></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><%=fa_icon "retweet"%></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><%=fa_icon "heart"%></span>
              </a>
            </div>
          </nav>
        </div>
        <div class="media-right">
          <button class="micropost delete"></button>
        </div>

      </article>
    <%end%>
    <%end%>
    <%= form_with(model: @comment, local: true) do |c| %>

      <div class="field">
        <%= c.hidden_field :user_id, value:p.user_id%>
        <%= c.hidden_field :micropost_id, value:p.id%>
        <%= c.label :replay, "What is your comment ?", class: "label" %>
        <%= c.text_area :replay, class: "textarea" %>
      </div>

      <div>
        <%= c.submit "Save", class: "button is-dark is-fullwidth" %>
      </div>
    <% end %>
  </div>
</article>
<%end%>
