<nav class="nav bg-dark padding">
	<li class="nav-item">
		<%= link_to 'Home', root_path, class: "nav-link" %>
	</li>
	<%
=begin%>
	<li class="nav-item">
		<%= link_to 'Articles', articles_path, class: "nav-link" %>
	</li>
	<li class="nav-item">
		<%= link_to 'New Article', new_articles_path, class: "nav-link" %>
	</li> 
	<%
=end%>

	<% if user_signed_in? %>
		<li class="nav-item">
			<%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "nav-link" %>
		</li>
	<% else %>
		<li class="nav-item">
			<%= link_to 'Log In', new_user_session_path, class: "nav-link" %>
		</li>
		<li class="nav-item">
			<%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
		</li>
	<% end %>

</nav>
