<!DOCTYPE html>
<html>
  <head>
    <title>Societalbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%# <%= render 'layouts/nav' %>
      <%= render "partials/nav"%>
        <% if notice %>
          <p class="notification is-success">
            <button class="delete"></button>
            <%= notice %>
          </p>
        <% end %>
        <% if alert %>
          <p class="notification is-danger">
            <button class="delete"></button>
            <%= alert %>
          </p>
        <% end %>
      <%= yield %>
    </div>
  </body>
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
        $notification = $delete.parentNode;
        $delete.addEventListener('click', () => {
          $notification.parentNode.removeChild($notification);
        });
      });
    });
  </script>
</html>
